name: getproxy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0/15 * * * *'  #   分 时 日 月 周

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Clone parser_proxy_2 repository
      run: |
        git config --global user.name "fate0"
        git config --global user.email "git@fatezero.org"
        git clone https://github.com/parserpp/parser_proxy_2.git getproxy_src
        cd getproxy_src
        pip install -e .

    - name: run getproxy
      run: |
        getproxy --in-proxy=proxy.list --out-proxy=proxy.list.out --token=${{ secrets.GTOKEN }}

    - name: Merge and upload to ip_ports
      run: |
        python3 merge_and_upload.py
      env:
        GTOKEN: ${{ secrets.GTOKEN }}


